@font-face {
    font-family: 'Roboto';
    
    /* this value can be anything you wish - it gets used in the class definition below */
    src: url('Roboto/Roboto-Regular.ttf') format("truetype");
    /* add the file path to your font here */
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;

}
.container{
    display: flex;
    justify-content: space-between;
    background-color: #23424A;
    color: white;
    padding: 3em;
    
    
}
img{
    
    max-width: 100%;
}
.top{
    width: 80%;
    max-width: 750px;
}
button{
    background-color: aqua;
    padding: 1em;
    border-radius: 20px;
    border: transparent;
    font-weight: bold;
}

.section{
    display: flex;
   
    padding: 1em;
}
.section__left__title{
    color:#136C72;
}
.section__right{
    background-color: #136C72;
    color: white;
    padding: 2em;
    text-align: center;
}