@font-face {
    font-family: 'Roboto';
    
    /* this value can be anything you wish - it gets used in the class definition below */
    src: url('Roboto/Roboto-Regular.ttf') format("truetype");
    /* add the file path to your font here */
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;

}

.nav__list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: .5em 0;
   
}
.nav__item{
    margin-left: .4em;
}
.nav__item--active{
    background-color: aqua;
    padding: 0 .5em;
    border-radius: 20px;
    border: transparent;
    font-weight: bold;
    margin-left: auto;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.hero{
    background-color: #23424A;
    color: white;
    padding: 2em; 
}
.row{
    display: flex;
    justify-content: space-between;
}
img{
    
    max-width: 100%;
}

button{
    background-color: aqua;
    padding: 1em;
    border-radius: 20px;
    border: transparent;
    font-weight: bold;
}

.section{
    display: flex;
   
    padding: 1em;
}
.section__left__title{
    color:#136C72;
}
.section__right{
    background-color: #136C72;
    color: white;
    padding: 2em;
    text-align: center;
}